# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
downloads/
*.egg-info/
*.egg
MANIFEST

# Egg directories
.eggs/
eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec
*.manifest

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
# Exclude entire docs folder and Sphinx build output
/docs/
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/

# Django/Flask/other
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache/

# Scrapy
.scrapy/

# PyBuilder
.pybuilder/
target/

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
pdm.lock
.pdm.toml

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# PyCharm
.idea/

# VS Code
.vscode/

# Application specific
*.reg

# Temporary and backup files
*_temp.*
*_backup.*
*.bak
*.tmp
temp_*.*

# Ignore specific run scripts
run.bat
run_admin.bat